/*Propiedades personalizadas - custom properties*/
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;


    --formulario: #d5ada8; 
    --menu: #77763E;
    --letraCafeClara: #8B6C5C;
    --LetraVerde: #92864c;
    --letraOscura: #321F19;
    --letraClara: #FFF1E6;
    --fondoMenu: #BDB07C;
    --letraMenu: #ffebeb;
    --fondoClaro: #DBC5AE;
    --fondoOscuro: #1a1615 ;
    --fortalezas: #f8decd;
    --boton:#F1948A ;
}
  
  /*-------------------MENU--------------------*/
* {
	margin: 0;
	padding: 0;
}
header {
    background-color:var(--menu);
    width: 100%;
    position:fixed;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav h2{
    font-family: 'Libre Baskerville';
    font-size: 20px;
    letter-spacing: 0.3em;
    text-align:center;
    word-spacing: 0.5rem;
    display: flex;
    color: var(--letraMenu);
    align-items: center;
}
  
nav .ulIzq {
    font-family:'Poppins';
    font-weight: lighter;
    font-size: 16px;
    text-align:left;
    word-spacing: 0%;
    list-style-type:none;
    padding: 1em;
    overflow:hidden;
    opacity: 0.9;
    float:right;
}


nav .ulDer {
    font-family:'Poppins';
    font-weight: lighter;
    font-size: 16px;
    list-style-type:none;
    padding: 1em;
    overflow:hidden;
    opacity: 0.9;
    float:right;
}
  
nav li {
    float:left;
}
  
nav a {
    color:#ffebeb;
    text-align: center;
    text-decoration: none;
    border-color: transparent;
    font-weight: 150;
    margin: 5px 10px 5px;
    padding: 1em;
}
  
nav a:hover {
    background-color: var(--fondoMenu);
}

nav a span {
    color:#ffebeb;
    text-align: center;
    text-decoration: none;
    border-color: transparent;
    font-weight: 150;
    margin: 5px 10px 5px;
    padding: 1em;
}
  
/*---------------- SECTION 1 ------------------*/
.section1 {
    background-color: var(--fondoClaro);
    min-height: 70vh;
    padding: 100px;    
}

.columna-inicio{
    width: 50%;
    float: left;
}

.fotoPrincipal {
    object-fit: contain;
    border-radius: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.columna-inicio h1{
    font-family:'Libre Baskerville', sans-serif ;
    font-weight: 300;
    font-variant-ligatures: normal;
    font-size: 3rem;
    color: var(--letraOscura);
    letter-spacing:1px;
    text-align: center;
}

.columna-inicio h2{
    font-family:'Libre Baskerville', sans-serif ;
    font-style: italic;
    font-weight: 300;
    font-variant-ligatures: normal;
    font-size: 150%;
    letter-spacing: 2px;
    text-align: center;
    color: var(--LetraVerde);
}

.columna-inicio p{
    font-family: 'Poppins';
    font-weight: 390;
    font-variant-ligatures: normal;
    font-optical-sizing: auto;
    font-size: 125%;
    letter-spacing: 1px;
    text-align: center;
    color: var(--letraOscura);
}

/*---------------- SECTION 2 ------------------*/
.section2 {
    background-color: var(--fondoOscuro);
    height: 85vh;
    margin: 0;
}

.section2 h2 {
    font-family:'Libre Baskerville', sans-serif ;
    font-weight: 300;
    font-variant-ligatures: normal;
    font-size: 3rem;
    color: var(--letraClara);
    letter-spacing:2px;
    text-align: center;
    padding: 1rem;
}

.section2 p {
    font-family:'Libre Baskerville', sans-serif ;
    font-style: italic;
    font-weight: 200;
    font-variant-ligatures: normal;
    font-size: 100%;
    color: var(--letraClara);
    text-align: center;
    letter-spacing: 1px;
}

.columnasFortalezas{
    column-count: 5;
    padding: 3rem;
    text-align: center;
}

.columnasFortalezas img {
    border-radius: 200px;
    width: 100%;
}

.centrado{
    font-family: 'Poppins';
    font-weight: 300;
    color: var(--letraClara);
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}

/*---------------- SECTION 3 ------------------*/
.section3 {
    background-color: var(--fondoClaro);
    height: 70vh;
    margin: 0;
}

.section3 h2 {
    font-family:'Libre Baskerville', sans-serif ;
    font-weight: 200;
    font-variant-ligatures: normal;
    font-size: 3rem;
    color: var(--LetraVerde);
    letter-spacing:1px;
    padding: 2rem;
    text-align: center;
}

.columna-pasion{
    width: 50%;
    float: left;
}

.columna-pasion h2 {
    font-family:'Libre Baskerville', sans-serif ;
    font-style: italic;
    font-weight: 300;
    font-variant-ligatures: normal;
    font-size: 150%;
    color: var(--letraCafeClara);
    letter-spacing: 1px;
}

.columna-pasion p {
    font-family: 'Poppins';
    font-weight: 350;
    font-variant-ligatures: normal;
    font-size: 110%;
    letter-spacing: 1px;
    color: var(--letraOscura);
}

.fotoPasion {
    object-fit: contain;
    display:grid;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


/*---------------- SECTION 4 ------------------*/
.section4 {
    background-color: var(--fondoOscuro);
    min-height: 90vh;
    padding: 60px;    
    align-content:space-between;
    color: var(--oscuro);
    padding: 1rem;
}

.section4 h2 {
    font-family:'Libre Baskerville', sans-serif ;
    font-weight: 200;
    font-variant-ligatures: normal;
    font-size: 3rem;
    color: var(--letraMenu);
    letter-spacing:1px;
    padding: 1rem;
    text-align: center;
}

.fotoPasatiempo {
    object-fit: cover;
    display:grid;
    width: 600px;
    height: 400px;
}

.columna-pasatiempo{
    width: 50%;
    float: left;
}

.columna-pasatiempo h2 {
    font-family:'Libre Baskerville', sans-serif ;
    font-style: italic;
    font-weight: 300;
    font-variant-ligatures: normal;
    font-size: 150%;
    color: var(--letraMenu);
    letter-spacing: 1px;
    text-align: center;
}

.centrar-imagen {
    display:grid;
    margin-left: auto;
    margin-right: auto;
}


/*---------------- SECTION CONTACTO ------------------*/
.contacto {
    background-color: var(--fondoClaro);
    min-height: 50vh;
    padding: 50px;    
    align-content:space-between;
    color: var(--menu);
    padding: 2em;
}

.contacto h2 {
    font-family:'Libre Baskerville', sans-serif ;
    font-weight: 200;
    font-variant-ligatures: normal;
    font-size: 3rem;
    color: var(--LetraVerde);
    letter-spacing:1px;
    padding: 0;
    text-align: center;
}

.informacion p{
    font-family: 'Poppins';
    font-weight: 400;
    font-variant-ligatures: normal;
    font-size: 100%;
    letter-spacing: 1px;
    color: var(--letraOscura);
    text-align: center;
}

input {
    width: 95%;
    border: 15px;
    padding: 1rem;
    border-radius: 1rem;
}
.formulario {
	height: 300px;
	width: 500px;
	position: relative;
}
	
.signup {
    position: absolute;
    top: 5%;
    left: 28rem;
    width: 70%;
}

.signup h2{
    font-family:'Libre Baskerville', sans-serif ;
    font-style: italic;
    font-weight: 300;
    font-variant-ligatures: normal;
    font-size: 150%;
    color: var(--letraCafeClara);
    letter-spacing: 1px;
    text-align: center;
}

.slide-up .form-title span {
    margin-right: 5px;
    opacity: 1;
    visibility: visible;
}

.form-holder {
    border-radius: 80px;
    margin-top: 10px;
    opacity: 1;
    visibility: visible;
    border:none;
}

.form-holder .input {
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 2.5px solid #ffffff;
    font-size: 12px;
    border:none;
}
		
.submit-btn {
    background-color: var(--LetraVerde);
    color:var(--blanco);
    border-radius: 30px;
    display: block;
    margin: 15px auto; 
    padding: 15px 45px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    opacity: 5;
    visibility: visible;
    border:none;
    text-align: center;
}

/* -------------- Footer --------------------*/
footer{
    background-color: var(--fondoOscuro);
    text-align: center;
    min-height: 5vh;
}

footer p small{
    font-family:'Libre Baskerville';
    font-style: italic;
    font-weight: 100;
    font-size: 70%;
    color: var(--letraClara);
    letter-spacing: 2px;
    text-align: center;
}